@import "tailwindcss";

@theme {
  --font-h: var(--font-playfair);
  --font-b: var(--font-lato);
  
  --color-elite-black: #0a0a0a;
  --color-elite-dark-grey: #1a1a1a;
  --color-elite-gold: #d4af37;
  --color-elite-gold-dim: #aa8c2c;
  --color-elite-gold-light: #f3e5ab;
}

/* Custom Base Styles */
@layer base {
  body {
    @apply bg-elite-black text-white font-b;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-h text-elite-gold;
  }
}
